<div class="container">
  <div class="row mt-5">
    <div class="col bg-dark h4 pb-1 pt-1 text-white">AISYOについて</div>
  </div>
  <div class="row">
    <div class="col h5 pb-4 small">
      格闘ゲームをする人に向けた相性表の作成アプリです。
    </div>
  </div>

  <div class="row mt-2">
    <div class="col bg-dark h4 pb-1 pt-1 text-white">使い方</div>
  </div>
  <div class="row">
    <div class="col h5 pb-4 small ">
      「投稿する」をクリックすると相性表作成ページへ移動します。
      相性表作成ページで作成した内容を投稿すると投稿完了画面でグラフ化して表示します。
    </div>
  </div>

  <div class="row mt-2">
    <div class="col bg-dark h4 pb-1 pt-1 text-white">ログイン方法</div>
  </div>
  <div class="row">
    <div class="col h5 pb-4 small">
      初めての方は「新規登録」からニックネーム、メールアドレス、パスワードを登録していただくことで登録できます。
      また、Twitterアカウントをお持ちの場合は右上のアイコン、もしくは「新規登録」から「Twitterでログイン」ボタンからログインすることも可能です。
      すでにアカウントをお持ちの場合は「ログイン」からメールアドレスとパスワードを入力していただくことでログインできます。
    </div>
  </div>

  <div class="row mt-2">
    <div class="col bg-dark h4 pb-1 pt-1 text-white">「グラフを見る」と「平均値を見る」のグラフの違い</div>
  </div>
  <div class="row">
    <div class="col h5 mb-5 small">
      ・「グラフを見る」は自分が稿した剣士、魔法使い、僧侶、格闘家、銃使いの各相性表それぞれの投稿の一番新しいものをグラフとして表示します。
      なので「グラフを見る」はログインしている場合のみ表示されます。<br>
      ・「平均値を見る」はアプリ内で投稿された全ての剣士、魔法使い、格闘家、銃使いの各相性表の平均値をグラフにして表示します。
      こちらはログインしていない状態でも閲覧できます。
    </div>
  </div>
  
  <div class="row">
    <div class="col mb-5 "></div>
  </div>
</div>
