<%= image_tag "gunner.jpg", class:"rounded mx-auto d-block glyphicon icon-fighter" %>
<%= high_chart('my-first-chart', @chart) %>
<div class="text-right mr-5 mt-5">この相性は現在<%=@counter%>件登録されています。</div>
